:root {
  --dark-black: #333030;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  color-scheme: light dark;
  background-color: var(--dark-black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Slab', serif;
}

#root {
  height: 100vh;
  max-height: 100vh;
  width: 100vh;
}

button {
  font-family: 'Josefin Slab', serif
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
